# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Mac Finder Files
.DS_Store
.vscode/launch.json
dist/netlify-ddns_darwin_386
dist/netlify-ddns_darwin_amd64
dist/netlify-ddns_linux_386
dist/netlify-ddns_linux_amd64
dist/netlify-ddns_linux_arm
dist/netlify-ddns_linux_arm64
dist/netlify-ddns_windows_386
dist/netlify-ddns_windows_amd64